/.* export-ignore
/src/ export-ignore
/jest.config.* export-ignore
/package-lock.json export-ignore
/README.md export-ignore
/rollup.config.* export-ignore
/tsconfig.* export-ignore

* text=auto eol=lf

# Explicitly declare common text files
*.ts    text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.md    text eol=lf
*.yml   text eol=lf
